{% extends "base_index.html" %}

{% block center %}
<div class="center wp">
			
    <div class="c_zhaomu"><a href="/index/index"><img src="/static/img/head.png" /></a></div>  {# 招聘图片 #}
			
    <div id="gla">
		<div id="gla_box">
	    	<ul>
                <li><div class="gla_inbox"><p>Picture 1</p><img src="/static/img/lunbo1.jpg" style="display:block;"/><a href="">learn more</a></div></li>
		      	<li><div class="gla_inbox"><p>Picture 2</p><img src="/static/img/lunbo2.jpg" /><a href="">learn more</a></div></li>
                <li><div class="gla_inbox"><p>Picture 3</p><img src="/static/img/lunbo3.jpg" /><a href="">learn more</a></div></li>
                <li><div class="gla_inbox"><p>ITPicture 4</p><img src="/static/img/lunbo4.jpg" /><a href="">learn more</a></div></li>
                <li><div class="gla_inbox"><p>Picture 5</p><img src="/static/img/lunbo5.jpg" /><a href="">learn more</a></div></li>
            </ul>
        </div>
    </div>

 	<a href="/csMarket/market"><span style="font-size: 30px; color: blue; line-height: 30px;">CS Market</span></a>
    <hr style="border: 1px blue solid;"/>
 	<div class="cmarket">
 		<div class="content">
	    	<ul class="ca-menu">
	            <li><a href="/csMarket/forall/2"><span class="ca-icon" id="ca-icon0">Web开发</span></a></li>
                <li><a href="/csMarket/forall/3"><span class="ca-icon" id="ca-icon1">iOS<br />开发</span></a></li>
                <li><a href="/csMarket/forall/4"><span class="ca-icon" id="ca-icon2">安卓开发</span></a></li>
                <li><a href="/csMarket/forall/5"><span class="ca-icon" id="ca-icon3">微信开发</span></a></li>
                <li><a href="/csMarket/forall/1"><span class="ca-icon" id="ca-icon4">UI<br />设计</span></a></li>
                <li><a href="/csMarket/forall/8"><span class="ca-icon" id="ca-icon5">工业制作</span></a></li>
                <li><a href="/csMarket/forall/7"><span class="ca-icon" id="ca-icon6">文案策划</span></a></li>
                <li><a href="/csMarket/forall/6"><span class="ca-icon" id="ca-icon7">媒体处理</span></a></li>
	            <li><a href="/csMarket/forall/9"><span class="ca-icon" id="ca-icon8">生活服务</span></a></li>
                <li><a href="/csMarket/forall/10"><span class="ca-icon" id="ca-icon9">二手交易</span></a></li>
                <li><a href="/csMarket/forall/110"><span class="ca-icon" id="ca-icon10">兼职实习</span></a></li>
            </ul>
        </div>
    </div>
 			
    <div class="cblog">
 	    <a><span style="font-size: 30px; color: blue; line-height: 30px;">最新博客</span></a>
 		<hr style="border: 1px blue solid;"/>
        {% autoescape off %}
        {% for blog in blog_list %}
        <div class="clist_one">
            <a href="/blog/oneblog/{{ blog.blog_id }}">
            <div class="cone_span"><span >标题：{{ blog.blog_title }}</span></div>
            <div class="cb1p"><p>{{   blog.blog_content }}</p></div>
            </a>
        </div>
        {% endfor %}
        {% endautoescape %}
    </div>
 			
 	<div class="cweibo">
        <span style="color: blue; font-size: 25px;">官方微博</span>
        <hr style="border: 1px blue solid;" />
        <iframe width="100%" height="435" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=0&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=5352480017&verifier=d2f98c07&dpc=1"></iframe>
    </div>
 			
    <div class="cribao">
        <span style="color: blue; font-size: 25px;">CS 日报</span>
        <hr style="border: 1px blue solid;" />
        <div class="cul">
            <ul>{% autoescape off %}{% for bbs in bbs_list %}
                <li>
                    <a class="cula" href="/bbs/newone/{{ bbs.bbs_num }}">{{ bbs.bbs_title }}</a>
                    <a class="cula1">{{ bbs.bbs_time | date:"Y/m/d" }}</a>
                </li>
                {% endfor %}
                {% endautoescape %}
            </ul>
        </div>
 	</div>

    <div class="cziyuan">
    <span style="color: blue; font-size: 25px;">热门资源</span>
 	<hr style="border: 1px blue solid;" />
 	<div class="cul">
 	    <ul>
 		    {% autoescape off  %}
            {%  for resource in resource_list%}
 			<li>
                <a class="cula" href="{{ resource.res_url }}" target="_blank">{{ resource.res_title }}</a>
                <a class="cula1">{{ resource.res_time | date:"Y/m/d" }}</a>
            </li>
            {% endfor %}
 			{% endautoescape %}
        </ul>
    </div>

</div>

</div>
{% endblock %}