/*通用*/
*{
	margin:0;
	padding:0;
	border:0;
	list-style:none;
	text-decoration:none;
	font-size:12px;
	font-family: "Comic Sans MS", "幼圆", "黑体", sans-serif;
	color:#000000;
	z-index:0;
}
/*首页*/
.wp{
	width: 960px;
	margin: 0 auto;
}
.wp1{
	margin: 0 auto;
}


/*头部*/
.sousuo{
	background-image: url(../img/soubg.jpg);
	background-size: cover;
	min-width: 960px;
	height: 400px;
	
}
.ss1_span{
	font-size: 45px;
	color: #FFFFFF;
	margin-left: 35%;
	margin-top: 200px;
}
.ss2{
	margin-top: 20px;
	margin-left: 8%;
	height: 40px;
}
.sousuo form{
	margin-left: 20%;
	height: 80px;
}
.ss2_input{
	width: 500px;
	height: 40px;
	font-size: 15px;
}
.ss2_button{
	line-height: 40px;
	font-size: 20px;
	background-color: #0099E5;
}
.ss2_radio{
	margin-left: 25%;
	font-size: 20px;
	line-height: 40px;
}
.fl{
	float: left;
}

/*中间*/
.center{
	min-width: 960px;
	width: 100%;
	min-height: 300px;
	background-color: #D7EEF9;
}
.center li{
	line-height: 25px;
}
.center li:hover{
	background-color: #2ECC71;
}
.c_table_tr1{
	line-height: 35px;
}
.c_table_tr1 a{
	font-size: 20px;
}
.c_table_tr1 th:hover{
	background-color: #2ECC71;
}
.c1 a,.c2 a,.c3 a,.c4 a,.c5 a,.c6 a{
	font-size: 15px;
}



/*底部*/
.buttom{
	min-width: 960px;
	height: 180px;
	margin-top: 20px;
}
.b_up{
	width:100%;
	height:140px;
	}
.b_up span{
	font-size:20px;
	}
.b_u_1{
	float:left;
	list-style:none;
	}
.b_u_1 a{
	text-decoration:none;
	font-size:14px;
	color:#00F
	}
.b_u_2{
	float:right;
	list-style:none;
	}
.b_u_2 a{
	text-decoration:none;
	font-size:14px;
	color:#00F
	}
.b_u_3{
	float:right;
	list-style:none;
	margin-right:23%;
	}
.b_u_3 a{
	text-decoration:none;
	font-size:14px;
	color:#00F
	}
	
.b_down{
	float:left;
	width:100%;
	height:40px;
	}
.b_down span{
	margin-left:250px;
	line-height: 30px;
    font-size: 16px;
	}

