<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description " content="CyanScikit科技网(中文名三刺客网),高质量的科技展示和众包服务平台,也是科技爱好者和极客们交流,分享技术和科技最佳舞台。" />
        <meta name="keywords" content="CyanScikit科技——不止有态度,IT科技网站,众包服务平台,包含CS 博客,CS 搜索,CS 日报,CS Market,资源下载,网络安全,极客活动,搜索引擎" />
		<title>CyanScikit科技网</title>
		<link rel="stylesheet" type="text/css" href="/static/css/blog.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/blog_style.css"/>
	</head>
	
	
	<body>
		<div class="head wp">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td width="30%">
						<div id="" class="hlogo">
							<br />
							<a href="/index/index" target="_blank"><img src="/static/img/logo.png"></a>
						</div>
					</td>
					<td align="center">
						<span style="font-family: 'Comic Sans MS', '幼圆', '黑体', sans-serif; font-style: oblique; font-size: 30px;">CyanScikit 科技</span>
					</td>
				</tr>
				<tr>
					<td>
                        {% if name and pwd %}
                            <span class="log_re">
                                <a href="" target="_blank">{{ name }}</a>  |
                                <a href="/logre/logout">注销</a>
                            </span>
                        {% else %}
                            <span class="log_re">
                                <a href="/logre/login">登录</a>  |
                                <a href="/logre/regeister">注册</a>  |
                                <a href="/logre/logout">注销</a>
                            </span>
                        {% endif %}
                    </td>
					<td align="right">
						<span style="font-family: 'Comic Sans MS', '幼圆', '黑体', sans-serif; font-style: oblique; font-size: 30px;">——不止有态度&nbsp;&nbsp;&nbsp;</span>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="menu wp">
			<ul>
				<li class="a"><a href="/index/index">首页</a></li>
				<li class="a"><a href="">博客分类</a></li>
				<li class="a"><a href="/download/download">下载</a></li>
				<li class="a"><a href="/bbs/news">CS 日报</a></li>
				<li class="a"><a href="/csMarket/market" target="_blank">CS Market</a></li>
				<li class="a"><a href="/csSearch/search" target="_blank">CS 搜索</a></li>
			</ul>
		</div>
		
		
		<div class="center wp">
			<div class="c_zhaomu">
				<a href=""><img src="/static/img/head.png" /></a>
			</div>
			
			<div class="cmenu">
				<input type="checkbox" id="joacims-menu" checked/>
				<nav>
					<a href="/blog/blog">综合</a>
					<a href="/blog/cateblog/0">云计算</a>
					<a href="/blog/cateblog/1">移动开发</a>
					<a href="/blog/cateblog/2">Web前端</a>
					<a href="/blog/cateblog/3">数据库</a>
					<a href="/blog/cateblog/4">图像/多媒体</a>
					<a href="/blog/cateblog/5">系统运维</a>
					<a href="/blog/cateblog/6">编程语言</a>
					<a href="/blog/cateblog/7">互联网</a>
					<a href="/blog/cateblog/8">咨询</a>
				</nav>
			</div>
            {% autoescape off %}
			<div class="clist">
                {% for blog in blog_list %}
                    <div class="clist_one">
                        <a href="/blog/oneblog/{{ blog.blog_id }}">
                            <div class="cone_span"><span >{{ blog.blog_title }}</span></div>
                            <div class="cb1p">
                                <p>
                                    {{ blog.blog_content }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}

                {% if not ifmore %}
                <div class="clist_more">
					<a href="/blog/more"><span>&nbsp;加载更多&nbsp;</span></a>
				</div>
                {% endif %}
			</div>
            {% endautoescape %}
			
		</div>
		
		
		<hr style="border: 1px #FFFFFF solid;" class="wp"/>
		<div class="buttom wp">
			<div class="b_up">
	        	<ul class="b_u_1">
	            	<span>格言</span><br><br><br>
	            	<li><a>&nbsp;优秀不够</a></li><br>
	                <li><a>你必须无可替代</a></li>
	            </ul>
	            <ul class="b_u_2">
	            	<span>友情链接</span><br><br><br>
	            	<li><a href="">&nbsp;Cyan 小站</a></li><br>
	                <li> <a href="">Thinkgamer 博客网</a></li><br>
	            </ul>
	            <ul class="b_u_3">
	            	<span>&nbsp;&nbsp;联系我们</span><br><br><br>
	            	<li><a>&nbsp;&nbsp;QQ:1923361654</a></li><br>
	                <li><a>E-mail:Thinkgamer@163.com</a></li>
	            </ul>
        	</div>
        
	        <div class="b_down">
	        	<span >&nbsp;&nbsp;Copyright 2014-2015 &nbsp;|&nbsp;
	            版本1.0&nbsp;|&nbsp;
	            Made By CyanScikit</span>
	        </div>
	        
		</div>
	</body>
</html>
