<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description " content="CyanScikit科技网(中文名三刺客网),高质量的科技展示和众包服务平台,也是科技爱好者和极客们交流,分享技术和科技最佳舞台。" />
    <meta name="keywords" content="CyanScikit科技——不止有态度,IT科技网站,众包服务平台,包含CS 博客,CS 搜索,CS 日报,CS Market,资源下载,网络安全,极客活动,搜索引擎" />
    <title>CS 搜索——不止有态度</title>
	<link rel="stylesheet" type="text/css" href="/static/css/cssearch.css"/>
</head>

<body>
    <div class="sousuo wp1">
        <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
        <div class="ss1 wp">
            <span class="ss1_span">CyanScikit</span>
        </div>
        <form id="keyword" action="" method="POST">
			<div class="ss2 wp1">
                    <input type="text" class="ss2_input fl" name="kw" id="keyword" placeholder="输入关键字搜索" value="">
                    <input type="submit" class="ss2_button fl" id="searchbtn" value="CS 搜&nbsp; 索">
			</div>
			<div class="ss2_radio">
                <input type="radio" checked="checked" name="sousuo" value="1" />站内搜索
                <input type="radio" checked="checked" name="sousuo" value="2" />百度搜索
			</div>
         </form>
    </div>
		
    <div class="center wp">
        <table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0">
            <tr class="c_table_tr1">
                <th><a href="/index/index">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></th>
                <th><a href="/blog/blog">博客分类</a></th>
                <th><a href="/download/download">下载</a></th>
                <th><a href="/bbs/news">CS 日报</a></th>
                <th><a href="/csMarket/market" target="_blank">CS Market</a></th>
                <th><a href="">CS 搜索</a></th>
		</tr>
		<tr></tr>
		<tr>
		    <td align="center">
		    	<ul class="c1">
                    {% if name and pwd %}
                        <li><a href="" target="_blank" style="color: red; font-weight: bolder">{{ name }}</a></li>
                        <li><a href="/logre/logout" target="_blank" style="color: red; font-weight: bolder">注销</a></li>
                    {% else %}
                        <li><a href="/logre/login" target="_blank" style="color: red; font-weight: bolder">登录</a></li>
                        <li><a href="/logre/regeister" target="_blank" style="color: red; font-weight: bolder">注册</a></li>
                        <li><a href="/logre/logout" target="_blank" style="color: red; font-weight: bolder">注销</a></li>
                    {% endif %}
					<li><a href="/blog/blog">博客分类</a></li>
					<li><a href="/download/download">下载</a></li>
					<li><a href="/bbs/news">CS 日报</a></li>
					<li><a href="/csMarket/market" >CS Market</a></li>
					<li><a href="">CS 搜索</a></li>
				</ul>
		    </td>
		    <td align="center">
		    	<ul class="c2">
					<li><a href="/blog/cateblog/1">移动开发</a></li>
					<li><a href="/blog/cateblog/0">云计算</a></li>
					<li><a href="/blog/cateblog/2">Web前端</a></li>
					<li><a href="/blog/cateblog/3">数据库</a></li>
					<li><a href="/blog/cateblog/7">互联网</a></li>
					<li><a href="/blog/cateblog/6">编程语言</a></li>
					<li><a href="/blog/cateblog/5">系统运维</a></li>
					<li><a href="/blog/cateblog/4">图像/多媒体</a></li>
					<li><a href="/blog/cateblog/8">咨询</a></li>
				</ul>
		    </td>
            <td align="center">
		    	<ul class="c4">
					<li><a href="/download/onecateDown/0">软件工具</a></li>
					<li><a href="/download/onecateDown/1">电子文档</a></li>
					<li><a href="/download/onecateDown/2">Code片段</a></li>
					<li><a href="/download/onecateDown/3">视频教程</a></li>
					<li><a href="/download/onecateDown/5">开源项目</a></li>
					<li><a href="/download/onecateDown/4">其&nbsp; &nbsp; &nbsp; &nbsp;他</a></li>
		    	</ul>
		    </td>
		    <td align="center">
				<ul class="c3">
					<li><a href="/bbs/newcate/0">科技</a></li>
					<li><a href="/bbs/newcate/1">互联网</a></li>
					<li><a href="/bbs/newcate/2">传媒</a></li>
					<li><a href="/bbs/newcate/3">娱乐</a></li>
					<li><a href="/bbs/newcate/4">咨询</a></li>
					<li><a href="/bbs/newcate/5">体育</a></li>
					<li><a href="/bbs/newcate/6">其他</a></li>
				</ul>
			</td>
		    <td align="center">
				  	<ul class="c5">
						<li><a href="/csMarket/forall/2">Web开发</a></li>
						<li><a href="/csMarket/forall/3">iOS开发</a></li>
						<li><a href="/csMarket/forall/4">Android开发</a></li>
						<li><a href="/csMarket/forall/5">微信开发</a></li>
						<li><a href="/csMarket/forall/1">UI设计</a></li>
						<li><a href="/csMarket/forall/8">工业制作</a></li>
						<li><a href="/csMarket/forall/7">文案策划</a></li>
						<li><a href="/csMarket/forall/6">多媒体处理</a></li>	
						<li><a href="/csMarket/forall/9">生活服务</a></li>	
						<li><a href="/csMarket/forall/10">二手交易</a></li>	
						<li><a href="/csMarket/forall/110">兼职实习</a></li>	
					</ul>
				</td>
		    <td align="center">
		    	<ul class="c6">
		    		<li><a href="">AAAA</a></li>
					<li><a href="">BBBB</a></li>
					<li><a href="">CCCC</a></li>
					<li><a href="">DDDD</a></li>
					<li><a href="">EEEE</a></li>
					<li><a href="">FFFF</a></li>
					<li><a href="">GGGG</a></li>
					<li><a href="">HHHH</a></li>
				</ul>
		    </td>
		  </tr>
		</table>

    </div>

    <div class="buttom wp">
        <div class="b_up">
            <ul class="b_u_1">
                <span>格言</span><br><br><br>
                <li><a>&nbsp;优秀不够</a></li><br>
                <li><a>你必须无可替代</a></li>
            </ul>
            <ul class="b_u_2">
                <span>友情链接</span><br><br><br>
                <li><a href="">&nbsp;Cyan 小站</a></li><br>
                <li> <a href="">Thinkgamer 博客网</a></li><br>
            </ul>
            <ul class="b_u_3">
                <span>&nbsp;&nbsp;联系我们</span><br><br><br>
                <li><a>&nbsp;&nbsp;QQ:1923361654</a></li><br>
                <li><a>E-mail:Thinkgamer@163.com</a></li>
            </ul>
        </div>

        <div class="b_down">
	       	<span >&nbsp;&nbsp;Copyright 2014-2015 &nbsp;|&nbsp;
	           版本1.0&nbsp;|&nbsp;
	           Made By CyanScikit</span>
	    </div>
    </div>
</body>
</html>