{% extends "base.html" %}
{% block title %}<title>CyanScikit首页</title>{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/awesome/css/font-awesome.min.css"><!--图标字体-->
<link type="text/css" rel="stylesheet" href="/static/css/base.css">
<link type="text/css" rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block center %}
<div id="main">
    <div class="main_img_show">
      <div id="featured-area"> 
        <ul> 
            <li><a href="http://blog.csdn.net/gamer_gyt" target="_blank"><img src="/static/images/one.png"/></a></li>
            <li><a href="https://github.com/thinkgamer" target="_blank"><img src="/static/images/two.png"/></a></li>
            <li><a href="http://weibo.com/234654758" target="_blank"><img src="/static/images/three.png"/></a></li>
            <li><a href="http://weibo.com/u/5333034962" target="_blank"><img src="/static/images/four.png"/></a></li>
        </ul>
        <a href="javascript:void(0)" class="ban_l_btn"></a>
        <a href="javascript:void(0)" class="ban_r_btn"></a>
      </div>
    </div>
    <div class="info">
      <div class="fl info_news">
        <div class="info_about_our">
        <h3><span>About us</span></h3>
          <img class="fl" src="/static/images/aboutus.jpg">
              <p>CyanScikit科技工作室是由沈阳航空航天大学的高阳团于2015年创建的品牌，致力于打造一个针对大学生的
                  技术交易平台，平台包括web开发，网络数据采集，创意设计，文案撰写，图像设计LOGO制作，课程设计和
                  毕业设计，同时兼顾二手交易（数据电子，图书，鞋服等）和代办中心（代取快递，代取外卖，代上课等），
                  目前还在处于筹备和开发阶段，但是旗下所属的CyansCikit自营即工作室的外包部分已经取得了众多的成就，
                  包括帮助他人完成毕设，数据采集和课程设计，web网站的开发等，同时成员的一个大数据分析项目在国家计
                  算机作品大赛中斩获三等奖，其下的一个大学生创新项目斩获辽宁省大学生创新项目A类，其取得的成就是有
                  目共睹的，目前致力于论文的撰写和工作室网站的开发，欢迎有志之士加入我们。
              </p>
        </div>
        <div class="info_cases">
          <div class="fl info_cases_hot">
            <h3><span>最新事件</span></h3>
            <ul>
              {% for new in news_list %}
                <li><a href="/news/one/{{ new.news_id }}">{{ new.news_title }}</a></li>
{#                  <hr style="border: 1px">#}
              {% endfor %}
            </ul>
            <p class="fr"><a href="/news/home">查看更多>></a></p>
          </div>
          <div class="fr info_cases_work">
            <h3><span>外包类别</span></h3>
            <div class="row">
            <ul>
                {% for wcate in wcate_list %}
                    <li><a href="/market/cate/{{ wcate.wcate_id }}">{{ wcate.wcate_name }}</a></li>
                {% endfor %}
            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="fr info_weibo">
        <h3>最新微博动态</h3>
        <div>
          <iframe height="700" width="100%" scrolling="no" frameborder="0" src="/index/getweibo/"></iframe>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/ecmascript" src="/static/js/jquery.roundabout-1.0.min.js"></script><!--图片切换插件-->
<script type="text/ecmascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#featured-area ul').roundabout({
        easing: 'easeOutInCirc',
        duration: 600,
		autoplay:true,
		autoplayDuration: 3000,
		autoplayPauseOnHover: true,
        minScale: 0.7,
        btnPrev: ".ban_r_btn", // 右按钮
        btnNext: ".ban_l_btn" // 左按钮
    });
});
</script>
<script type="text/javascript" src="/static/js/base.js"></script>
{% endblock %}