{% extends "base.html" %}
{% block title %}<title>Item：</title>{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/awesome/css/font-awesome.min.css"><!--图标字体-->
<link type="text/css" rel="stylesheet" href="/static/css/base.css">
<link type="text/css" rel="stylesheet" href="/static/css/item.css">
{% endblock %}

{% block center %}
<div id="main">
    {% if error %}
    <script language="JavaScript">
		 alert("{{ error }}");
	</script>
    {% endif %}
    <div class="item_page_blog">
      <h3 class="fl">{{ item_mess.item_title }}<br><br><span class="item_p">发表时间：{{ item_mess.item_time }} | 浏览次数：{{ item_mess.item_seenum }}</span></h3>
      <img class="fr" src="/static/images/logo.jpg">
      <div>
        {% autoescape off %}<p>{{ item_mess.item_content }}</p>{% endautoescape %}
      </div>
    </div>
    <div class="item_page_discussion">
      <hr style="border: 1px #e4b9b9 solid;">
      <span class="updown_span"><a href="/item/home" class="fl">返回项目</a><a href="/index/home" class="fr">返回首页</a></span>
      <br>
      <hr style="border: 1px #e4b9b9 solid;">
      <h3><span>评论区：</span></h3>
       <ul>
         {% if talk_list %}
         {% for talk in talk_list %}
         <li>
           <p>昵称：{{ talk.talk_name }}</p>
           <p>{{ talk.talk_content }}</p>
         </li>
         {% endfor %}
       {% else %}
           <p>暂无评论</p>
       {% endif %}
       </ul>
    </div>
    <div class="item_page_talking">
      <form method="post" action="">
        <div class="fl"><label>昵称：</label><br><input type="text" placeholder="输入昵称" name="name"></div>
        <div class="fr"><label >E_mail:</label><br><input type="email" placeholder="输入邮箱" name="email"></div>
        <div>
        <label>留言内容：</label><br>
        <textarea type="tel" name="content"></textarea>
        </div>
        <input class="btn btn-success fl" type="submit" name="submit" value="我要留言">
        <input class="btn btn-danger fr" type="reset" name="cancel" value="撤销">
      </form>
    </div>
</div>
<br>

<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
{% endblock %}
