{% extends "base.html" %}
{% block title%}<title>CyanScikit Market</title>{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/awesome/css/font-awesome.min.css"><!--图标字体-->
<link type="text/css" rel="stylesheet" href="/static/css/base.css">
<link type="text/css" rel="stylesheet" href="/static/css/maket.css">
{% endblock %}

{% block center %}
<div id="main">
    <div class=" fl maket_news">
       <div id="callBackPagination" class="piece">
        <div id="mainContent"></div>
        <div id="callBackPager"></div>
      </div>
    </div>
    <div class=" fr maket_type">
       <h3>外包类别</h3>
      <div class="types fl">
            <ul>
              <li><a href="/market/cate">软件开发外包类</a></li>
              <li><a href="/market/cate">软件开发外包类</a></li>
              <li><a href="/market/cate">软件开发外包类</a></li>
              <li><a href="/market/cate">软件开发外包类</a></li>
              <li><a href="/market/cate">软件开发外包类</a></li>
              <li><a href="/market/cate">软件开发外包类</a></li>
              <li><a href="/market/cate">软件开发外包类</a></li>
              <li><a href="/market/cate">软件开发外包类</a></li>
              <li><a href="/market/cate">软件开发外包类</a></li>
              <li><a href="/market/cate">软件开发外包类</a></li>
            </ul>
       </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/extendPagination.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
<script type="text/javascript">
//调用分页
$(function(){
	    var total=200,showcounts=11,showlimits=6;
        var totalCount = Number(total), showCount = showcounts,
                limit = Number(showlimits) ;
        createTable(1, limit, totalCount);
        $('#callBackPager').extendPagination({
            totalCount: totalCount,
            showCount: showCount,
            limit: limit,
            callback: function (curr, limit, totalCount) {
                createTable(curr, limit, totalCount);
            }
        });
    function createTable(currPage, limit, total) {
        var html = [], showNum = limit;
        if (total - (currPage * limit) < 0) showNum = total - ((currPage - 1) * limit);
        html.push(' <h3><span>精彩案例</span></h3><ul>');
        for (var i = 1; i <= showNum; i++) {
            html.push('<li><p>类别：<span>AAAAAA</span>成交金额：<span>100000￥</span>满意度：<span>90%</span><p>简介：<span>城市公共健康更是公开初露端倪覅的那家饭馆的寒风酷暑的回复开放时间不发生必须在客场击败的基础城市的比赛的放开手脚不卖弄风骚城市公共健康更是公开初露端倪覅的那家饭馆的寒风酷暑的回复开放时间不发生必须在客场击败的基础城市的比赛的放开手脚不卖弄</span></p>');
            html.push('</li>');
        }
        html.push('</ul>');
        var mainObj = $('#mainContent');
        mainObj.empty();
        mainObj.html(html.join(''));
    }
});
</script>
{% endblock %}
