{% extends "base.html" %}
{% block title%}<title>CyanScikit Market</title>{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/awesome/css/font-awesome.min.css"><!--图标字体-->
<link type="text/css" rel="stylesheet" href="/static/css/base.css">
<link type="text/css" rel="stylesheet" href="/static/css/maket.css">
{% endblock %}

{% block center %}
<div id="main">
    <div class=" fl maket_news">
       <div id="callBackPagination" class="piece">
        <div id="mainContent">
            <h3><span>精彩案例</span></h3>
            <ul>
                {% autoescape off %}
                    {% for exam in examples %}
                        <li><p>标题：<span><a href="/market/oneex/{{ exam.ex_id }}">{{ exam.ex_title }}</a></span></p>
                            <p>类别：<span>{{ exam.ex_category }}</span>
                            成交金额：<span>{{ exam.ex_money }}￥</span>
                            满意度：<span>{{ exam.ex_gree }}%</span>
                            浏览量：<span>{{ exam.ex_seenum }}</span><p>
                            简介：<span>{{ exam.ex_content | truncatewords:"3"}}</span>
                        </p></li>
                    {% endfor %}
                {% endautoescape %}
            </ul>
            <div class="updown">
                <ul class="pagination">
                    <li class="previous">
                        {% if examples.has_previous %}
                            <a href="?page={{ examples.previous_page_number }}"><span>&laquo;</span></a>
                        {% else %}
                            <a><span>&laquo;</span></a>
                        {% endif %}
                    </li>
                    {% for page in len_list %}
                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                    <li  class="next">
                        {% if examples.has_next %}
                         <a href="?page={{ examples.next_page_number }}"><span>&raquo;</span></a>
                        {% else %}
                            <a><span>&raquo;</span></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div id="callBackPager"></div>
      </div>
    </div>
    <div class=" fr maket_type">
       <h3>外包类别</h3>
      <div class="types fl">
            <ul>
              {% for wcate in wcate_list %}
                <li><a href="/market/cate/{{ wcate.wcate_id }}">{{ wcate.wcate_name }}</a></li>
              {% endfor %}
            </ul>
       </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/extendPagination.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
{% endblock %}
