{% extends "base.html" %}
{% block title %}<title>Market Type:{{ ow_mess.wcate_name }}</title>{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/awesome/css/font-awesome.min.css"><!--图标字体-->
<link type="text/css" rel="stylesheet" href="/static/css/base.css">
<link type="text/css" rel="stylesheet" href="/static/css/maket.css">
{% endblock %}

{% block center %}
{% autoescape off %}
<div id="main">
    <div class="fl typedetail">
        <h3><span>类别名字</span></h3>
        <div class="type_manager">
           <p>支持该类别服务时间：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ ow_mess.wcate_addtime }}</span></p>
           <p>负责人简介：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ ow_mess.wcate_people }}</span></p>
        </div>
        <div class="type_describle">
           <p>类别简介：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ ow_mess.wcate_content }}</span></p>
        </div>
        <div class="type_cases">
           <p>对接案例：</p>
           <ul>
              <li>分的高分的jfk的肯德基妇女来说上课了几分</li>
           </ul>
        </div>
    </div>
    <div class=" fr maket_type">
       <h3>外包类别</h3>
      <div class="types fl">
          <ul>
              {% for wcate in wcate_list %}
                <li><a href="/market/cate/{{ wcate.wcate_id }}">{{ wcate.wcate_name }}</a></li>
              {% endfor %}
            </ul>
       </div>
    </div>
</div>
{% endautoescape %}
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
{% endblock %}
