<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description " content="CyanScikit科技网(中文名三刺客网),高质量的科技展示和众包服务平台,也是科技爱好者和极客们交流,分享技术和科技最佳舞台。" />
    <meta name="keywords" content="CyanScikit科技——不止有态度,IT科技网站,众包服务平台,包含CS 博客,CS 搜索,CS 日报,CS Market,资源下载,网络安全,极客活动,搜索引擎" />
    <title>CS Market——众包服务平台</title>
	<link rel="stylesheet" type="text/css" href="/static/css/marketall.css"/>
	<link rel="stylesheet" href="/static/css/markeyall_style.css" />
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript">
		function show(num){
			switch(num){
				case 1:	
					document.getElementById('hl_down1').style.display='block';
					document.getElementById('hl_down2').style.display='none';
					document.getElementById('hl_down3').style.display='none';
					document.getElementById('hl_down4').style.display='none';
					break;
				case 2:	
					document.getElementById('hl_down1').style.display='none';
					document.getElementById('hl_down2').style.display='block';
					document.getElementById('hl_down3').style.display='none';
					document.getElementById('hl_down4').style.display='none';
					break;
				case 3:	
					document.getElementById('hl_down1').style.display='none';
					document.getElementById('hl_down2').style.display='none';
					document.getElementById('hl_down3').style.display='block';
					document.getElementById('hl_down4').style.display='none';
					break;
				case 4:	
					document.getElementById('hl_down1').style.display='none';
					document.getElementById('hl_down2').style.display='none';
					document.getElementById('hl_down3').style.display='none';
					document.getElementById('hl_down4').style.display='block';
					break;
				
			}
		}
	</script>
	
	
	<script type="text/javascript" >
	$(function(){
	     var len  = $(".num > li").length;
		 var index = 0;
		 var adTimer;
		 $(".num li").mouseover(function(){
			index  =   $(".num li").index(this);
			showImg(index);
		 }).eq(0).mouseover();
		 //滑入 停止动画，滑出开始动画.
		 $('.ad').hover(function(){
				 clearInterval(adTimer);
			 },function(){
				 adTimer = setInterval(function(){
				    showImg(index)
					index++;
					if(index==len){index=0;}
				  } , 2000);
		 }).trigger("mouseleave");
	})
	// 通过控制top ，来显示不同的幻灯片
	function showImg(index){
	        var adHeight = $(".ad").height();
			$(".slider").stop(true,false).animate({top : -adHeight*index},1000);
			$(".num li").removeClass("on")
				.eq(index).addClass("on");
	}
	</script>
	
</head>
<body>
		
	<div class="head wp1">
		<span class="head_span1">CyanScikit科技-不止有态度</span>
        {% if name and pwd %}
            <span class="head_span2">
                <a href="/csMarket/user">{{ name }}</a>  |
                <a href="/logre/logout/">注销</a>
            </span>
        {% else %}
            <span class="head_span2">
                <a href="/logre/login">登录</a>  |
                <a href="/logre/regeister">注册</a>  |
                <a href="/logre/logout">注销</a>
            </span>
        {% endif %}
	</div>
		
	<div class="head1 wp">
		<table class="head1_table">
			<tr class="head1_table_tr">
				<td align="left" style="width:50%;" >&nbsp;&nbsp;<a href="/index/index"><img src="/static/img/market_logo.png"></a></td>
				<td align="right"><a href="/csMarket/market">Market首页   &nbsp; |</a></td>
                <td align="right"><a href="/csMarket/xsMarket">悬赏大厅    &nbsp; |</a></td>
				<td align="right"><a href="/csMarket/fwMarket">服务商库    &nbsp; |</a></td>
				<td align="right"><a href="/csMarket/showMarket">作品展示    &nbsp; |</a></td>
				<td align="right"><a href="/csMarket/message">发布信息</a></td>
			</tr>
		</table>
	</div>

    <div class="c_zhaomu">
        <a href=""><img src="/static/img/head.png" /></a>
    </div>

    <form action="" method="post" name="form1">
        <div class="user">
            <span class="soso" >
                <input type="text" name="kw" class="soso_input1" />
                <input type="submit" name="btn" class="soso_input2" value=" "/>
            </span>
        </div>
    </form>
	
	<div class="center wp">
		<div class="sidebar">
            <h1><span class="color">全部分类</span></h1>
                <ul>
                    <li>
                        <a href="/csMarket/forall/1"><i class="fa fa-user push"></i>UI设计<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/11">LOGO设计<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/12">包装设计<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/13">软件UI设计<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/14">网页设计<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/15">宣传画制作<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/16">VI设计<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/17">产品设计<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/csMarket/forall/2"><i class="fa fa-user push"></i>Web开发<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/21">前端开发<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/22">后台开发<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/23">服务器端开发<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/csMarket/forall/3"><i class="fa fa-user push"></i>iOS开发<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/31">游戏开发<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/32">插件开发<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/33">实用软件开发<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/csMarket/forall/4"><i class="fa fa-cog push"></i>安卓开发<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/41">游戏开发<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/42">插件开发<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/43">实用软件开发<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/csMarket/forall/5"><i class="fa fa-user push"></i>微信开发运营<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/51">公众号运营<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/52">微信开发<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="/csMarket/forall/6"><i class="fa fa-user push"></i>多媒体处理<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/61">flash制作<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/62">视频剪辑<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/63">图像处理 <i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/csMarket/forall/7"><i class="fa fa-user push"></i>文案策划<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/72">活动策划<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/73">文案撰写<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/74">品牌人物取名<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/75">专业翻译<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/csMarket/forall/8"><i class="fa fa-user push"></i>工业制作<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/81">数码电子<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/82">智能穿戴<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/83">机械产品<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/84">箱包鞋服<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/csMarket/forall/9"><i class="fa fa-user push"></i>生活服务<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/91">创意服务<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/92">调研推广<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/93">家政/家教<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/94">旅游/婚庆<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/95">代办/找人<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/csMarket/forall/10"><i class="fa fa-user push"></i>二手交易<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/101">数码电子<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/102">化妆品<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/103">音象书籍<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/104">箱包鞋服<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/105">文体户外<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/106">办公设备<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/csMarket/forall/110"><i class="fa fa-user push"></i>兼职实习<i class="fa fa-angle-right"></i></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="/csMarket/forall/111">校园兼职<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/112">网络兼职<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/113">公司兼职<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/114">公司实习<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="/csMarket/forall/115">应届生招聘<i class="fa fa-angle-right"></i></a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>

                </ul>
		</div>
		<script src="/static/js/csmarket.js"></script>
		
		<div class="xuanshang">
			<div class="xs_span">
				<span>{{ title }}	</span>
			</div>
			<div class="xs_more">
				{% autoescape off %}
                    {% for message in message_list %}
                        <div class="xs_more_one">
                            <a href="/csMarket/userOne/{{ message.m_num }}"><p class="xs_more_one_p1">Title:&nbsp;&nbsp;{{ message.m_name }}</p></a>
                            <hr style="border: 1px rebeccapurple solid; width: 180px; margin: 0 auto;" />
                            <p class="xs_more_one_p">Price:&nbsp;&nbsp;{{ message.m_price }}</p>
                            <hr style="border: 1px rebeccapurple solid; width: 180px; margin: 0 auto;" />
                            <p class="xs_more_one_p">是否托管:&nbsp;&nbsp;{{ message.m_tuoing }}</p>
                            <hr style="border: 1px rebeccapurple solid; width: 180px; margin: 0 auto;" />
                            <p class="xs_more_one_p">类别:&nbsp;&nbsp;{{ message.m_bigcate }}</p>
                            <hr style="border: 1px rebeccapurple solid; width: 180px; margin: 0 auto;" />
                            <p class="xs_more_one_p">热度:&nbsp;&nbsp;{{ message.m_seenum }}</p>
                            <hr style="border: 1px rebeccapurple solid; width: 180px; margin: 0 auto;" />
                            <p class="xs_more_one_p">发布时间:{{ message.m_time | date:"Y/m/d" }}</p>
                            <hr style="border: 1px rebeccapurple solid; width: 180px; margin: 0 auto;" />
                        </div>
                    {% endfor %}
               {% endautoescape %}
			</div>
            <div class="fenye">
                <ul>
                    <li><a href="">上一页&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a href="">&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;|</a></li>
                    <li><a href="">&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;|</a></li>
                    <li><a href="">&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;|</a></li>
                    <li><a href="">&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;|</a></li>
                    <li><a href="">&nbsp;&nbsp;5&nbsp;&nbsp;</a></li>
                    <li><a href="">......&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a href="">&nbsp;下一页</a></li>
                </ul>
            </div>

		</div>
	</div>

	<div class="center1 wp">
		<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0">
		  	<tr class="c_table_tr1">
			    <th><a href="/index/index" target="_blank">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></th>
			    <th><a href="/blog/blog" target="_blank">博客分类</a></th>
				<th><a href="/download/download" target="_blank">下载</a></th>
			    <th><a href="/bbs/news" target="_blank">CS 日报</a></th>
			    <th><a href="">CS Market</a></th>
			    <th><a href="/csSearch/search" target="_blank">CS 搜索</a></th>
		  	<tr></tr>
		  	<tr>
		     	<td align="center">
				   	<ul class="c1">
                        {% if name and pwd %}
                        <li><a href="" style="color: red; font-weight: bolder">{{ name }}</a></li>
                        <li><a href="/logre/logout" style="color: red; font-weight: bolder">注销</a></li>
                        {% else %}
                            <li><a href="/logre/login" style="color: red; font-weight: bolder">登录</a></li>
                            <li><a href="/logre/regeister"  style="color: red; font-weight: bolder">注册</a></li>
                            <li><a href="/logre/logout"  style="color: red; font-weight: bolder">注销</a></li>
                        {% endif %}
						<li><a href="/blog/blog" >博客分类</a></li>
						<li><a href="/bbs/bbs" >论&nbsp;&nbsp;&nbsp;&nbsp;坛</a>></li>
						<li><a href="/download/download" >下&nbsp;&nbsp;&nbsp;&nbsp;载</a></li>
						<li><a href="">CS Market</a></li>
						<li><a href="/csSearch/search" target="_blank">CS 搜索</a></li>
					</ul>
		    	</td>
		    	<td align="center">
				   	<ul class="c2">
						<li><a href="/blog/cateblog/0">云计算</a></li>
						<li><a href="/blog/cateblog/1">移动开发</a></li>
						<li><a href="/blog/cateblog/2">Web前端</a></li>
						<li><a href="/blog/cateblog/3">数据库</a></li>
						<li><a href="/blog/cateblog/4">图像/多媒体</a></li>
						<li><a href="/blog/cateblog/5">系统运维</a></li>
						<li><a href="/blog/cateblog/6">编程语言</a></li>
						<li><a href="/blog/cateblog/7">互联网</a></li>
						<li><a href="/blog/cateblog/8">咨询</a></li>
					</ul>
				</td>
				<td align="center">
				   	<ul class="c3">
						<li><a href="/bbs/newcate/0">科技</a></li>
						<li><a href="/bbs/newcate/1">互联网</a></li>
						<li><a href="/bbs/newcate/2">传媒</a></li>
						<li><a href="/bbs/newcate/3">娱乐</a></li>
						<li><a href="/bbs/newcate/4">咨询</a></li>
						<li><a href="/bbs/newcate/5">体育</a></li>
						<li><a href="/bbs/newcate/6">其他</a></li>
				   	</ul>
				</td>
				<td align="center">
				   	<ul class="c4">
						<li><a href="/download/onecateDown/0">软件工具</a></li>
                        <li><a href="/download/onecateDown/1">电子文档</a></li>
                        <li><a href="/download/onecateDown/2">Code片段</a></li>
                        <li><a href="/download/onecateDown/3">视频教程</a></li>
                        <li><a href="/download/onecateDown/5">开源项目</a></li>
                        <li><a href="/download/onecateDown/4">其&nbsp; &nbsp; &nbsp; &nbsp;他</a></li>
				   	</ul>
				</td>
				<td align="center">
				  	<ul class="c5">
						<li><a href="/csMarket/forall/2">Web开发</a></li>
						<li><a href="/csMarket/forall/3">iOS开发</a></li>
						<li><a href="/csMarket/forall/4">Android开发</a></li>
						<li><a href="/csMarket/forall/5">微信开发</a></li>
						<li><a href="/csMarket/forall/1">UI设计</a></li>
						<li><a href="/csMarket/forall/8">工业制作</a></li>
						<li><a href="/csMarket/forall/7">文案策划</a></li>
						<li><a href="/csMarket/forall/6">多媒体处理</a></li>	
						<li><a href="/csMarket/forall/9">生活服务</a></li>	
						<li><a href="/csMarket/forall/10">二手交易</a></li>	
						<li><a href="/csMarket/forall/110">兼职实习</a></li>	
					</ul>
				</td>
				<td align="center">
				   	<ul class="c6">
				   		<li><a href="">AAAA</a></li>
						<li><a href="">BBBB</a></li>
						<li><a href="">CCCC</a></li>
						<li><a href="">DDDD</a></li>
						<li><a href="">EEEE</a></li>
						<li><a href="">FFFF</a></li>
						<li><a href="">GGGG</a></li>
						<li><a href="">HHHH</a></li>
					</ul>
				</td>
			</tr>
		</table>
			
	</div>
		
		
		
		
	<div class="buttom">
		<div class="b_up">
	       	<ul class="b_u_1">
	           	<span>格言</span><br><br><br>
	           	<li><a>&nbsp;优秀不够</a></li><br>
	            <li><a>你必须无可替代</a></li>
	        </ul>
	        <ul class="b_u_2">
	           	<span>友情链接</span><br><br><br>
	           	<li><a href="">&nbsp;Cyan 小站</a></li><br>
	            <li> <a href="">Thinkgamer 博客网</a></li><br>
	        </ul>
	        <ul class="b_u_3">
	           	<span>&nbsp;&nbsp;联系我们</span><br><br><br>
	           	<li><a>&nbsp;&nbsp;QQ:1923361654</a></li><br>
	            <li><a>E-mail:Thinkgamer@163.com</a></li>
	        </ul>
      	</div>
        
	    <div class="b_down">
	       	<span >&nbsp;&nbsp;Copyright 2014-2015 &nbsp;|&nbsp;
	 	           版本1.0&nbsp;|&nbsp;
	        Made By CyanScikit</span>
	    </div>
	        
	</div>
</body>
</html>
