{% extends "base.html" %}
{% block title %}<title>CyanScikit:News</title>{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/awesome/css/font-awesome.min.css"><!--图标字体-->
<link type="text/css" rel="stylesheet" href="/static/css/base.css">
<link type="text/css" rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block center %}

<table class="table table-hover piece morething_table">
    <thead><tr><th><h3>最近新闻</h3></th></tr></thead>
    {% for news in all_news %}
        {# Each "contact" is a Contact model object. #}
        <tr><td ><a class="fl" href="/news/one/{{ news.news_id }}">{{ news }}</a><p class="fr">{{ news.news_time }}</p></td></tr>
    {% endfor %}
</table>
<br>
<div class="updown">
    {% if all_news.has_previous %}
    <span class="fl up">
        <a href="?page={{ all_news.previous_page_number }}">上一页</a>
    </span>
    {% endif %}

    {% if all_news.has_next %}
    <span class="fr down">
        <a href="?page={{ all_news.next_page_number }}">下一页</a>
    </span>
    {% endif %}
</div>
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/extendPagination.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
{% endblock %}