{% extends "base.html" %}
{% block title %}<title>CyanScikit:News</title>{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/awesome/css/font-awesome.min.css"><!--图标字体-->
<link type="text/css" rel="stylesheet" href="/static/css/base.css">
<link type="text/css" rel="stylesheet" href="/static/css/index.css">
<style type="text/css">
.nav li:nth-child(4){background-color:#F5F5F5; color:#000; text-shadow:0 0 5px #999; -webkit-text-shadow:0 0 5px #999; -moz-text-shadow:0 0 5px #999; border-bottom:2px solid #C60; }
</style>

{% endblock %}

{% block center %}

<table class="table table-hover piece morething_table">
    <thead><tr><th><h3>最近新闻</h3></th></tr></thead>
    {% for news in all_news %}
        {# Each "contact" is a Contact model object. #}
        <tr><td ><a class="fl" href="/news/one/{{ news.news_id }}">{{ news }}</a><p class="fr">{{ news.news_time }}</p></td></tr>
    {% endfor %}
</table>
<br>
<div class="updown">
    <ul class="pagination" >
        <li class="previous">
            {% if all_news.has_previous %}
                <a href="?page={{ all_news.previous_page_number }}"><span>&laquo;</span></a>
            {% else %}
                <a><span>&laquo;</span></a>
            {% endif %}
        </li>
        {% for page in len_list %}
        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        <li  class="next">
            {% if all_news.has_next %}
             <a href="?page={{ all_news.next_page_number }}"><span>&raquo;</span></a>
            {% else %}
                <a><span>&raquo;</span></a>
            {% endif %}
        </li>
    </ul>
</div>
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/extendPagination.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
<script>
$(function(){
	$(".pagination li").click(function(){
		$(this).addClass("active").siblings().removeClass("active");
		})
	})
</script>
{% endblock %}