{% extends "base.html" %}
{% block title %}<title>CyanScikit Talk</title>{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/awesome/css/font-awesome.min.css"><!--图标字体-->
<link type="text/css" rel="stylesheet" href="/static/css/base.css">
<link type="text/css" rel="stylesheet" href="/static/css/talk.css">
{% endblock %}

{% block center%}
<div id="main">
    {% if error %}
    <script language="JavaScript">
		 alert("{{ error }}");
	</script>
    {% endif %}
    <div id="callBackPagination" class="piece">
        <div id="mainContent">
            <table class="table table-hover piece morething_table" style="width: 90%;margin-left: 5%">
                <thead><tr><th><h3>所有留言</h3></th></tr></thead>
            </table>
            {% autoescape off %}
            <ul>
                {% for talk in talks %}
                <li><div class="talk_can"><h4>昵称：{{ talk.talk_name }}<span class="fr">发表时间：{{ talk.talk_time }}</span></h4><p>{{ talk.talk_content }}</p></div></li>
                {% endfor %}
            </ul>
            {% endautoescape %}
            <div class="updown">
                <ul class="pagination">
                    <li class="previous">
                        {% if talks.has_previous %}
                            <a href="?page={{ talks.previous_page_number }}"><span>&laquo;</span></a>
                        {% else %}
                            <a><span>&laquo;</span></a>
                        {% endif %}
                    </li>
                    {% for page in len_list %}
                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                    <li  class="next">
                        {% if talks.has_next %}
                         <a href="?page={{ talks.next_page_number }}"><span>&raquo;</span></a>
                        {% else %}
                            <a><span>&raquo;</span></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div id="callBackPager"></div>
    </div>
    <div class="talk_page_talking">
      <form method="post" action="">
        <div class="fl"><label>昵称：</label><br><input type="text" placeholder="输入昵称" name="name"></div>
        <div class="fr"><label >E_mail:</label><br><input type="email" placeholder="输入邮箱" name="email"></div>
        <div>
        <label>留言内容：</label><br>
        <textarea type="tel" name="content"></textarea>
        </div>
        <input class="btn btn-success fl" type="submit" name="submit" value="我要留言">
        <input class="btn btn-danger fr" type="reset" name="cancel" value="撤销">
      </form>
    </div>
</div><br>

<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/extendPagination.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>

{% endblock %}
