<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description " content="CyanScikit科技网(中文名三刺客网),高质量的科技展示和众包服务平台,也是科技爱好者和极客们交流,分享技术和科技最佳舞台。" />
<meta name="keywords" content="CyanScikit科技——不止有态度,IT科技网站,众包服务平台,包含CS 博客,CS 搜索,CS 日报,CS Market,资源下载,网络安全,极客活动,搜索引擎" />
<title>{{ name }}的个人中心</title>
<link rel="stylesheet" type="text/css" href="/static/css/user.css" />
</head>
<script type="text/javascript">
    {% if mess %}
        alert(mess);
    {% endif %}
</script>
<body>
    <script type="text/javascript">
        {% if mess %}
            alert(mess);
        {% endif %}
    </script>
    <div class="head wp1">
		<span class="head_span1">CyanScikit科技-不止有态度</span>
        {% if name and pwd %}
            <span class="head_span2">
                <a href="/csMarket/user">{{ name }}</a>  |
                <a href="/logre/logout/">注销</a>
            </span>
        {% else %}
            <span class="head_span2">
            <a href="/logre/login" >登录</a>  |
            <a href="/logre/regeister">注册</a>  |
            <a href="/logre/logout">注销</a>
            </span>
        {% endif %}
	</div>
		
	<div class="head1 wp">
		<table class="head1_table">
			<tr class="head1_table_tr">
				<td align="left" style="width:50%;" >&nbsp;&nbsp;<a href="/index/index"><img src="/static/img/market_logo.png"></a></td>
				<td align="right"><a href="/csMarket/market">Market首页   &nbsp; |</a></td>
                <td align="right"><a href="/csMarket/xsMarket">悬赏大厅    &nbsp; |</a></td>
				<td align="right"><a href="/csMarket/fwMarket">服务商库    &nbsp; |</a></td>
				<td align="right"><a href="/csMarket/showMarket">作品展示    &nbsp; |</a></td>
				<td align="right"><a href="/csMarket/message">发布信息</a></td>
			</tr>
		</table>
	</div>
    
    <div class="user">
        <span class="soso" >
            <form >
                 <input type="text" name="text" class="soso_input1" />
                 <input type="button" name="btn" class="soso_input2" value=" "/>
            </form>
        </span>
    </div>
    <hr style="border: 1px gainsboro solid;" class="wp"/>
    <div class="wp">

        <div class="main_left">

            <div class="ml_up">
                <span style="font-size: 25px;margin-left: 30%">我的信息</span>
                <p><a href="/csMarket/userAlter" style="font-weight: bold;color: #00FFFF;margin-left: 80px"> >>个人信息维护<<</a></p>
                <img src="" /><br/>
                <p>昵称：{{ name }}</p>
                <p>联系方式：{{ phone }}</p>
                <p>QQ:{{ qq }}
                <p>邮箱：{{ email }}</p>
            </div>
            <div class="ml_down">
                <span style="font-size: 25px;margin-left: 30%">CS 统计</span><br/><br/><br/>
                <h1>账单</h1><p>收入：{{ moneyin }}元</p><p>支出：{{ moneyout }}元</p>
                <hr style="height:1px;border:none;border-top:1px dashed #0066CC;width: 180px;margin: 0 auto" />
                <a href=""><h1>已交易</h1></a>
                <p>需求：{{ mxuok }}个</p><p>服务：{{mfwok}}个</p>
                <hr style="height:1px;border:none;border-top:1px dashed #0066CC;width: 180px;margin: 0 auto;" />
                <a href=""><h1>已发布</h1></a>
                <p>需求：{{ mxu }}个</p><p>服务：{{ mfw }}个</p>
                <hr style="height:1px;border:none;border-top:1px dashed #0066CC;width: 180px;margin: 0 auto;" />
                <a href=""><h1>进行中</h1></a>
                <p>需求：{{ mxuing }}个</p><p>服务：{{ mfwing }}个</p>
            </div>
        </div>

        <div class="main_right">
            <div class="xx_span">
                <a href="/csMarket/user"><span style="background-color: {{ color1 }}">&nbsp; 我的需求 &nbsp;</span></a>
                <a href="/csMarket/userFw"><span style="background-color: {{ color2 }}">&nbsp; 我的服务 &nbsp;</span></a>
                <a href="/csMarket/userAlter"><span>&nbsp; 信息维护</span></a>
                <p><a href="" style="float: right;font-size: 20px;color: red ">More</a></p>
            </div>
            <div class="main_right_me">
                {% autoescape off %}
                    {% for xuqiu in xuqiu_list %}
                        <div class="clist_one">
                            <span> Title:{{ xuqiu.m_name }} | 类别:{{ xuqiu.m_smallcate }} | 发布时间:{{ xuqiu.m_time }} </span>
                            {% if xuqiu.m_from ==  name  %}
                                <p><a href="/csMarket/messageAlter/{{ xuqiu.m_num }} ">&nbsp;修改</a></p>
                                <p><a href="/csMarket/userOne/{{ xuqiu.m_num }} ">查看  | </a></p>
                            {% else %}
                                <p><a href="/csMarket/userOne/{{ xuqiu.m_num }} ">查看</a></p>
                            {% endif %}
                         </div>
                    {% endfor %}
                {% endautoescape %}
            </div>

            <div class="main_right_see">
                <div class="xx_span">
                    <span>最近浏览</span>
                </div>
                {% autoescape off %}
                    {% for jin in jin_list %}
                        <div class="clist_one">
                            <span> Title:{{ jin.m_name }} | 类别:{{ jin.m_smallcate }}({{ jin.m_bigcate }}) | 浏览量:{{ jin.m_seenum }} | 发布时间:{{ jin.m_time }} </span>
                            <p><a href="/csMarket/userOne/{{ hot.m_num }}">查看</a></p>
                        </div>
                    {% endfor %}
                {% endautoescape %}
            </div>

            <div class="main_right_like">
                <div class="xx_span">
                    <span>猜你喜欢</span>
                </div>
                {% autoescape off %}
                    {% for like in like_list %}
                        <div class="clist_one">
                            <span> Title:{{ like.m_name }} | 类别:{{ like.m_smallcate }}({{ like.m_bigcate }}) | 浏览量:{{ like.m_seenum }} | 发布时间:{{ like.m_time }} </span>
                            <p><a href="/csMarket/userOne/{{ hot.m_num }}">查看</a></p>
                        </div>
                    {% endfor %}
                {% endautoescape %}
            </div>

            <div class="main_right_hote">
                <div class="xx_span">
                    <span>热门需求</span>
                </div>

                {% autoescape off %}
                    {% for hot in hot_list %}
                        <div class="clist_one">
                            <span> Title:{{ hot.m_name }} | 类别:{{ hot.m_smallcate }}({{ hot.m_bigcate }}) | 浏览量:{{ hot.m_seenum}} | 发布时间:{{ hot.m_time }} </span>
                            <p><a href="/csMarket/userOne/{{ hot.m_num }}">查看</a></p>
                        </div>
                    {% endfor %}
                {% endautoescape %}

            </div>

            <div class="main_right_other">
                <div class="mrm_gonglue">
                    <div class="mro_span">
                        <span>CS博客</span>
                    </div>
                    {% autoescape off %}
                    {% for blog in blog_list %}
                        <div class="clist_one">
                            <span><a href="/blog/oneblog{{ blog.blog_id }}"> {{ blog.blog_title }} </a></span>
                        </div>
                    {% endfor %}
					{% endautoescape %}
                </div>
                <div class="mrm_ribao">
                    <div class="mro_span">
                        <span>CS日报</span>
                    </div>
					{% autoescape off %}
                    {% for new in news_list %}
                        <div class="clist_one">
                            <span><a href="/bbs/newone{{ new.bbs_num }}"> {{ new.bbs_title }} </a></span>
                        </div>
                    {% endfor %}
					{% endautoescape %}
                </div>
            </div>

        </div>

    
    </div>
    
    
    <div class="center1 wp">
		<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0">
		  	<tr class="c_table_tr1">
			    <th><a href="/index/index">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></th>
			    <th><a href="/blog/blog" >博客分类</a></th>
			    <th><a href="/bbs/news">CS 日报</a></th>
				<th><a href="/download/download" >下载</a></th>
			    <th><a href="/csMarket/market">CS Market</a></th>
			    <th><a href="/csSearch/search" target="_blank">CS 搜索</a></th>
		  	</tr>
		  	<tr></tr>
		  	<tr>
		     	<td align="center">
				   	<ul class="c1">
						{% if name and pwd %}
                        <li><a href=""  style="color: red; font-weight: bolder">{{ name }}</a></li>
                        <li><a href="/logre/logout" style="color: red; font-weight: bolder">注销</a></li>
                        {% else %}
                            <li><a href="/logre/login" style="color: red; font-weight: bolder">登录</a></li>
                            <li><a href="/logre/regeister"  style="color: red; font-weight: bolder">注册</a></li>
                            <li><a href="/logre/logout" target="_blank" style="color: red; font-weight: bolder">注销</a></li>
                        {% endif %}
						<li><a href="/bbs/news" >CS 日报</a></li>
						<li><a href="/blog/blog" >博客分类</a></li>
						<li><a href="/download/download" >下&nbsp;&nbsp;&nbsp;&nbsp;载</a></li>
						<li><a href="">CS Market</a></li>
						<li><a href="/csSearch/search" target="_blank">CS 搜索</a></li>
					</ul>
		    	</td>
		    	<td align="center">
				   	<ul class="c2">
						<li><a href="/blog/cateblog/0">云计算</a></li>
						<li><a href="/blog/cateblog/1">移动开发</a></li>
						<li><a href="/blog/cateblog/2">Web前端</a></li>
						<li><a href="/blog/cateblog/3">数据库</a></li>
						<li><a href="/blog/cateblog/4">图像/多媒体</a></li>
						<li><a href="/blog/cateblog/5">系统运维</a></li>
						<li><a href="/blog/cateblog/6">编程语言</a></li>
						<li><a href="/blog/cateblog/7">互联网</a></li>
						<li><a href="/blog/cateblog/8">咨询</a></li>
					</ul>
				</td>
				<td align="center">
				   	<ul class="c3">
						<li><a href="/bbs/newcate/0">科技</a></li>
						<li><a href="/bbs/newcate/1">互联网</a></li>
						<li><a href="/bbs/newcate/2">传媒</a></li>
						<li><a href="/bbs/newcate/3">娱乐</a></li>
						<li><a href="/bbs/newcate/4">咨询</a></li>
						<li><a href="/bbs/newcate/5">体育</a></li>
						<li><a href="/bbs/newcate/6">其他</a></li>
				   	</ul>
				</td>
				<td align="center">
				   	<ul class="c4">
						<li><a href="/download/onecateDown/0">软件工具</a></li>
                        <li><a href="/download/onecateDown/1">电子文档</a></li>
                        <li><a href="/download/onecateDown/2">Code片段</a></li>
                        <li><a href="/download/onecateDown/3">视频教程</a></li>
                        <li><a href="/download/onecateDown/5">开源项目</a></li>
                        <li><a href="/download/onecateDown/4">其&nbsp; &nbsp; &nbsp; &nbsp;他</a></li>
				   	</ul>
				</td>
				<td align="center">
				  	<ul class="c5">
						<li><a href="/csMarket/forall/2">Web开发</a></li>
						<li><a href="/csMarket/forall/3">iOS开发</a></li>
						<li><a href="/csMarket/forall/4">Android开发</a></li>
						<li><a href="/csMarket/forall/5">微信开发</a></li>
						<li><a href="/csMarket/forall/1">UI设计</a></li>
						<li><a href="/csMarket/forall/8">工业制作</a></li>
						<li><a href="/csMarket/forall/7">文案策划</a></li>
						<li><a href="/csMarket/forall/6">多媒体处理</a></li>	
						<li><a href="/csMarket/forall/9">生活服务</a></li>	
						<li><a href="/csMarket/forall/10">二手交易</a></li>	
						<li><a href="/csMarket/forall/110">兼职实习</a></li>
					</ul>
				</td>
				<td align="center">
				   	<ul class="c6">
				   		<li><a href="">AAAA</a></li>
						<li><a href="">BBBB</a></li>
						<li><a href="">CCCC</a></li>
						<li><a href="">DDDD</a></li>
						<li><a href="">EEEE</a></li>
						<li><a href="">FFFF</a></li>
						<li><a href="">GGGG</a></li>
						<li><a href="">HHHH</a></li>
					</ul>
				</td>
			</tr>
		</table>
			
	</div>
		
		
		
		
	<div class="buttom">
		<div class="b_up">
	       	<ul class="b_u_1">
	           	<span>格言</span><br><br><br>
	           	<li><a>&nbsp;优秀不够</a></li><br>
	            <li><a>你必须无可替代</a></li>
	        </ul>
	        <ul class="b_u_2">
	           	<span>友情链接</span><br><br><br>
	           	<li><a href="">&nbsp;Cyan 小站</a></li><br>
	            <li> <a href="">Thinkgamer 博客网</a></li><br>
	        </ul>
	        <ul class="b_u_3">
	           	<span>&nbsp;&nbsp;联系我们</span><br><br><br>
	           	<li><a>&nbsp;&nbsp;QQ:1923361654</a></li><br>
	            <li><a>E-mail:Thinkgamer@163.com</a></li>
	        </ul>
      	</div>
        
	    <div class="b_down">
	       	<span >&nbsp;&nbsp;Copyright 2014-2015 &nbsp;|&nbsp;
	 	           版本1.0&nbsp;|&nbsp;
	        Made By CyanScikit</span>
	    </div>
	        
	</div>
</body>
</html>
