<!doctype html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
<meta charset="utf-8">
<title>weibo</title>
<script type="text/javascript" src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js"></script>
</head>

<body>
    <div>
        <div>
          <wb:follow-button uid="5333034962" type="red_4" width="100%" height="90"></wb:follow-button>
        </div>
        <div>
          <iframe id="weibo" height="500px" width="90%" scrolling="no" frameborder="0" src="http://v.t.sina.com.cn/widget/widget_blog.php?uid=5352480017"></iframe>
        </div>
    </div>
</body>
</html>
